*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(166, 118, 180);
}

.encabezado{
    padding: 20px;
    background-color: rgb(183, 38, 227);
    text-align: center;
    color: white;
}

.contenido{
    background-color: rgb(166, 118, 180);
}

.campos{
    padding: 10px;
    display: flex;
    flex-flow: wrap;
}

.calculo{
    padding: 10px;
    flex-flow: row wrap;
}

.calculo label{
    margin-bottom: 10px;
}

.registros{
    padding: 10px;
    flex-flow: row wrap;
}

.registros h2{
    text-align: center;
}

.registros label{
    margin-right: 0.6em;
}

.imcLbl{
    padding-left: 2em;
}

.nivelLbl{
    padding-left: 8em;
}

.registros2{
    display: flex;
    justify-content: baseline;
    background-color: rgb(183, 38, 227);
    padding: 3%;
}

.registros2 label{
    margin: 1em;
}

.promedioGral{
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
}

.promedioGral label, button{
    margin-left: 5em;
}

#piePagina{
    padding: 20px;
    color: white;
    background-color: purple;
    text-align: center;
}